@use '../globals.scss' as *;

.claim {
	padding-top: $margin;
	.layout {
		> div {
			margin: 0 $margin;
		}
		> div:first-of-type {
			width: calc(100% - $double);
			position:relative;
			.background-border {
				width: 100%;
				padding: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $gradient;
				border-radius: 22px;
			}
			.background {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: white;
				border-radius: $border-radius;
			}
			.image {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					object-fit: cover;
					display: block;
					width: 100%;
					border-radius: $border-radius;
				}
			}
		}
	}
	h1 {
		font-family: 'Merriweather', serif;
		overflow-wrap: break-word;
		> span > span.sparkle {
			background: $gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@media (min-width: 992px) {
	h1, p {
		text-align: left;
	}
	.claim {
		padding-top: 10vw;
		.layout {
			display: flex;
			justify-content: space-around;
			> div {
				min-width: $half-width;
			}
		}
	}
}
