@use '../globals.scss' as *;

.claim {
	padding-top: $margin;
	.layout {
		margin: 0;
		max-width: 100%;
		> div {
			padding: 0 $margin;
			width: 100%;
		}
		> div:first-of-type {
			margin: 0;
			height: 100%;
			position:relative;
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: -7px;
				left: 8px;
				right: 8px;
				bottom: 0;
				border-radius: 22px;
				padding: 16px;
				background: $gradient; 
				opacity: 50%;
			}	
			img { 
				width: 100%;
				margin: 0;
				border-radius: $border-radius;
			}
		}
	}
	h1 {
		font-family: 'Merriweather', serif;
		overflow-wrap: break-word;
		> span > span.sparkle {
			background: $gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@media (min-width: 992px) {
	h1, p {
		text-align: left;
	}
	.claim {
		padding-top: 10vw;
		.layout {
			display: flex;
			justify-content: space-around;
			> div {
				min-width: $half-width;
			}
		}
	}
}
