
$width: 1024px;
$half-width: 512px;
$margin: 1rem;
$double: 2rem;
$half: 0.5rem;
$padding: 0.5rem;
$text-color: #1A1A25;
$blue: #2A64D6;
$purple: #6468D3;
$light-purple: #AF9DC4;
$dark-purple: #363866;
$gray: rgba(109, 113, 117, 1);
$bg: #F8F8F8;
$border-color: #e9e9ea;
$border-radius: 16px;
$disabled-color: rgba(54, 56, 102, 0.1);
$shadow: 0 0 8px black, 0 0 32px rgba(0, 0, 0, 0.5);
$gradient: linear-gradient(to right top, #3A90F4, #FFC4FF, #A06BC1);
